{% extends "layout.njk" %} {% block content %} {% include "partials/header.njk" %}

<main class="p-4" role="main">
  <section class="promo-select-wrapper">
    <div class="row">
      <div class="col-3">
        <div class="nav nav-select flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-aniversariantes-tab" data-toggle="pill" href="#v-pills-aniversariantes" role="tab" aria-controls="v-pills-aniversariantes" aria-selected="true">
            <div class="link-img">
              <img src="../assets/img/promotions-card.png" alt="" />
            </div>
            Aniversariantes
          </a>
          <a class="nav-link" id="v-pills-clientes-tab" data-toggle="pill" href="#v-pills-clientes" role="tab" aria-controls="v-pills-clientes" aria-selected="false">
            <div class="link-img">
              <img src="../assets/img/promotions-clients.png" alt="" />
            </div>
            Trazer clientes
          </a>
          <a class="nav-link" id="v-pills-cadastro-tab" data-toggle="pill" href="#v-pills-cadastro" role="tab" aria-controls="v-pills-cadastro" aria-selected="false">
            <div class="link-img">
              <img src="../assets/img/promotions-singup.png" alt="" />
            </div>
            Incentivar cadastro
          </a>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-aniversariantes" role="tabpanel" aria-labelledby="v-pills-aniversariantes-tab">
            <div class="tab-content-wrapper">
              <div class="tab-content-header">
                <h3 class="title title-xl">
                  Bem-vindo a promoção de aniversariante
                </h3>
                <span>Definimos um modelo recomendado para o seu negócio e público, mas você também pode fazer do seu jeito</span>
              </div>
              <div class="tab-content-body">
                <div class="tab-select">
                  <div class="label-group">
                    <label for="recomended">
                      <div class="label-wrapper">
                        <div class="label-title">
                          <h3 class="title title-md">Recomendado para você</h3>
                        </div>
                        <div class="label-body">
                          Configuramos a sua oferta seguindo as tendência de mercado do seu tipo de negócio. Basta acompanhar os passos e ativar a promoção.
                        </div>
                      </div>
                      <input name="tab1" type="radio" id="recomended" />
                      <div class="label-input"></div>
                    </label>
                  </div>
                  <div class="label-group">
                    <label for="diy">
                      <div class="label-wrapper">
                        <div class="label-title">
                          <h3 class="title title-md">Faça do seu jeito</h3>
                        </div>
                        <div class="label-body">
                          Defina o período, a frequência, o público e como será ofertada essa promoção. Tenha total controle de como criar uma oferta.
                        </div>
                      </div>
                      <input name="tab1" type="radio" id="diy" />
                      <div class="label-input"></div>
                    </label>
                  </div>
                  <div class="label-group is-disabled">
                    <label for="disabled">
                      <div class="label-wrapper">
                        <div class="label-title">
                          <h3 class="title title-md">Disabled</h3>
                        </div>
                        <div class="label-body">
                          Disabled
                        </div>
                      </div>
                      <input name="tab1" type="radio" id="disabled" />
                      <div class="label-input"></div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-clientes" role="tabpanel" aria-labelledby="v-pills-clientes-tab">
            ...
          </div>
          <div class="tab-pane fade" id="v-pills-cadastro" role="tabpanel" aria-labelledby="v-pills-cadastro-tab">
            ...
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
