<!--BEGIN Partial header.njk -->
<header id="header-main" class="is-header-subpage">
  <div class="header-container">
    <div class="header-content">
      <div class="content">
        <small class="content-title-parent">
          Nome da página pai
        </small>
        <h1 class="content-title">
          Nome da Página
        </h1>

        <p class="content-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </p>
      </div>
      <div class="actions">
        <button class="btn btn-outline-secondary">Secundário</button>
        <button class="btn btn-success">Primário</button>
      </div>
    </div>

    <div class="header-stats">
      <div class="card card-stats card-stats-primary">
        <div class="card-content">
          <h4 class="stats-title">
            Número de visitas no mês
          </h4>
          <h2 class="stats-value">
            17.894
          </h2>

          <p class="stats-datetime">Últimos 30 dias</p>
        </div>
        <div class="card-icon">
          <i class="fas fa-analytics"></i>
        </div>
      </div>

      <div class="card card-stats card-stats-primary">
        <div class="card-content">
          <h4 class="stats-title">
            Número de visitas no mês
          </h4>
          <h2 class="stats-value">
            17.894
          </h2>

          <p class="stats-datetime">Últimos 30 dias</p>
        </div>
        <div class="card-icon">
          <i class="fas fa-analytics"></i>
        </div>
      </div>

      <div class="card card-stats card-stats-primary">
        <div class="card-content">
          <h4 class="stats-title">
            Número de visitas no mês
          </h4>
          <h2 class="stats-value">
            17.894
          </h2>

          <p class="stats-datetime">Últimos 30 dias</p>
        </div>
        <div class="card-icon">
          <i class="fas fa-analytics"></i>
        </div>
      </div>

      <div class="card card-stats card-stats-primary">
        <div class="card-content">
          <h4 class="stats-title">
            Número de visitas no mês
          </h4>
          <h2 class="stats-value">
            17.894
          </h2>

          <p class="stats-datetime">Últimos 30 dias</p>
        </div>
        <div class="card-icon">
          <i class="fas fa-analytics"></i>
        </div>
      </div>
    </div>
  </div>
</header>
<!--END Partial header.njk -->
