<nav id="navbar-main">
  <div class="navbar-container">
    <ol class="breadcrumb breadcrumb-links">
      <li class="breadcrumb-item">
        <a href="#">
          <i class="fal fa-home"></i>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Item 1</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="#" id="">Item 2</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="#" id="">Item 3</a>
      </li>
    </ol>

    <ul class="dropdown-user-menu nav">
      <li class="nav-item dropdown">
        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media">
            <span class="avatar rounded-circle">
              <img src="https://i.pravatar.cc/45" />
            </span>
            <div class="media-body">
              Jessica
            </div>
          </div>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">
            <h5 class="">Bem-vinda!</h5>
          </div>
          <a href="../examples/profile.html" class="dropdown-item">
            <i class="fal fa-fw fa-user-circle"></i>
            <span>Meus daddos</span>
          </a>
          <a href="../examples/profile.html" class="dropdown-item">
            <i class="fal fa-fw fa-file-invoice"></i>
            <span>Cobrança</span>
          </a>

          <div class="dropdown-divider"></div>

          <a href="#!" class="dropdown-item">
            <i class="fal fa-fw fa-sign-out"></i>
            <span>Sair</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
