.list-grouped {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

  .items-align-center {
    flex: 1 1 auto;
  }

  .image-spacing {
    margin: 0 1rem;
  }

  .list-btn-group {
    flex: 0 0 auto;
    flex-direction: row;
    display: flex;
  }
}
