.pagination {
  overflow-x: auto;
  .page-item {
    .page-link {
      transition: all 0.2s ease-in-out;
      font-size: 14px;
      font-weight: bold;
      color: $secondary;
      line-height: 1;
    }

    &.active {
      .page-link {
        color: #fff;
        box-shadow: none;
      }
    }

    &:first-of-type {
      .page-link {
        margin-left: 0;
      }
    }

    &:last-of-type {
      .page-link {
        margin-right: 0;
      }
    }
  }
}
