$max-screen-width: 685px;
$image-size: 280px;

%info-headers {
  header {
    margin-bottom: 25px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $primary-pale;
    }
    i {
      cursor: pointer;
    }
  }
}

%flex-direction-column {
  display: flex;
  flex-direction: column;
}

%figure-wrapper {
  display: flex;
  justify-content: flex-end;
  figure {
    max-width: $image-size;
    max-height: $image-size;
  }
}

@media (max-width: 768px - 1px) {
  .bonuz-offer-facebook-connect,
  .bonuz-offer-form {
    .main-content {
      flex-direction: column;
      justify-content: center;

      div:nth-child(2) {
        order: -1;
        margin-bottom: 15px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.bonuz-offer-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.bonuz-offer-facebook-connect {
  @extend %info-headers;
  @extend %flex-direction-column;

  max-width: $max-screen-width;
  margin: 0 auto;

  .main-content {
    justify-content: center;

    .information-wrapper {
      @extend %flex-direction-column;

      justify-content: space-between;
    }
    .image-wrapper {
      @extend %figure-wrapper;
    }
  }
}

.bonuz-offer-form {
  @extend %info-headers;

  max-width: $max-screen-width;
  margin: 0 auto;
  .main-content {
    .inputs-wrapper {
      @extend %flex-direction-column;

      .week-input {
        max-width: 60px;
      }

      .observation {
        margin-top: auto;
      }
    }

    .image-wrapper {
      @extend %figure-wrapper;
    }
  }
  .footer-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}
